@import "variables";

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  object-fit: contain;

  &__sky {
    @extend .background;
    top: 0;
    z-index: 0;
    background: url("../img/stars.png") fixed,
      linear-gradient(to bottom, #040a1a 0%, #012e4d 57.9%);
  }

  &__sun {
    @extend .background;
    background-size: 100% 100%;
    background: linear-gradient(
        to bottom,
        #ff0066 40%,
        #d41872 56%,
        #a445b2 80%
      )
      no-repeat center;
    border-radius: 100%;
    box-shadow: rgb(255, 77, 148) 0 0 20px;
    clip-path: polygon(
      -50% 0px,
      150% -50%,
      150% 55%,
      -50% 55%,
      -50% 62%,
      150% 62%,
      150% 70%,
      0 70%,
      -50% 75%,
      150% 75%,
      150% 80%,
      0 80%,
      -50% 82%,
      150% 82%,
      150% 85%,
      0 85%,
      -50% 87%,
      150% 87%,
      150% 90%,
      0 90%,
      -50% 92%,
      150% 92%,
      150% 95%,
      0 95%,
      -50% 96%,
      150% 96%,
      150% 150%,
      0 150%
    );
    filter: blur(1px);
    height: 500px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 2;
  }

  @keyframes moving-grid {
    0% {
      transform: perspective(50vh) rotateX(60deg) translateZ(10px)
        translateY(-$grid-size);
    }
    100% {
      transform: perspective(50vh) rotateX(60deg) translateZ(10px)
        translateY(#{$grid-size * (1 + 1/6)});
    }
  }

  &__ground {
    @extend .background;
    display: block;
    width: 100%;
    height: 34%;
    bottom: 0;
    background: linear-gradient(#08021c, #070609);
    z-index: 3;
    box-shadow: 0 0 200px #fac8ff;
  }

  &__grid {
    @extend .background;
    animation: moving-grid 1s infinite linear;
    background-image: repeating-linear-gradient(
        90deg,
        $grid-color 0%,
        transparent calc(1px + #{$grid-blur}),
        transparent $grid-size,
        $grid-color calc(#{$grid-size} + 1px + #{$grid-blur})
      ),
      repeating-linear-gradient(
        180deg,
        $grid-color 0%,
        transparent calc(1px + #{$grid-blur}),
        transparent $grid-size,
        $grid-color calc(#{$grid-size} + 1px + #{$grid-blur})
      );
    background-position-y: 0;
    bottom: -30%;
    height: 100%;
    left: 0;
    margin-left: -50%;
    position: absolute;
    transform: perspective(50vh) rotateX(60deg) translateZ(10px);
    width: 200%;
    z-index: 4;
  }

  &__filter {
    @extend .background;
    z-index: 5;
    top: 0;
    background: radial-gradient(rgba(0, 0, 0, 0) 40%, rgb(2, 10, 43));
  }
}
