body {
  background-size: 100vw 100vh;
  display: grid;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  place-items: center center;
  width: 100vw;

  > * {
    box-sizing: border-box;
    user-select: none;
  }
}

@import 'background';
@import 'case';
@import 'keypad';
@import 'screen';
