@font-face {
  font-family: "PressStart2P";
  src: url("./PressStart2P.ttf?");
}


@function shadow1($color) {
  @return darken($color, 10%);
}

@function shadow2($color) {
  @return darken($color, 1%);
}

@function shadow3($color) {
  @return darken($color, 15%);
}

@function light1($color) {
  @return lighten($color, 30%);
}

@function light2($color) {
  @return lighten($color, 10%);
}

@function light3($color) {
  @return lighten($color, 50%);
}

@function button-gradient($color) {
  @return linear-gradient(180deg, $color 0%, $color 0.6em, light2($color) 0.7em, $color 1.2em);
}


$black:                     black;
$white:                     white;

$case:                      #c7c4ae;
$case-gradient:             linear-gradient(180deg, #4979dd 0%, #f4f2f5 50%, #483b5d 50.1%, #b9bcce 100%);

$bevel:                     #151514;
$bevel2:                    #262625;

$screen:                    #2b4038;
$screen-gradient:           linear-gradient(0deg, $screen 0%, light2($screen) 90%);

$shadow:                    $black;

$button-text:               #fffee7;
$button-shadow:             #010101;

$light:                     #333333;
$light:                     #585555;
$dark:                      #1e2121;
$blue:                      #159fa9;
$yellow:                    #f18342;
$red:                       #cc2f66;

$version:                   light1($blue);


* {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  margin: 0em;
  background-size: 100vw 100vh;
  cursor: default;
  filter: blur(0.2px);
}

.background {
  position: fixed;
  top: 0em;
  right: 0em;
  bottom: 0em;
  left: 0em;
  pointer-events: none;
  &.layer-0 {
    z-index: 0;
    background: linear-gradient(to bottom, #0c1f49 0%, #0165aa 57.9%, #261a40 58.1%, #190d33 100%);
  }
  &.layer-1 {
    z-index: 1;
    background: url("../img/stars.png");
    background-attachment: fixed;
  }
  &.layer-2 {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background-image: url("../img/sun.png");
    // The gradient used in sun.png:;
    // background: linear-gradient(to bottom, #ffea00 0%, #FF0066 30%, #D41872 52%, #A445B2 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
  }
  &.layer-3 {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    min-width: 1920px;
    background-image: url("../img/grid.png");
    // The gradient used in sun.png:;
    // background: linear-gradient(to bottom, #ffea00 0%, #FF0066 30%, #D41872 52%, #A445B2 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    object-fit: contain;
  }
}


.case {
  z-index: 1000;
  width: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.725em;
  background: $case-gradient;
  border-style: solid;
  border-top-color: shadow1($case);
  border-left-color: shadow1($case);
  border-bottom-color: light1($case);
  border-right-color: light1($case);
  border-width: 0.25em;
  border-radius: 2.25em;
  font-size: 10px;
  box-shadow: -0.05em 0.05em 0em 0.25em rgba($blue, 0.5), 0.05em -0.05em 0em 0.25em rgba(#D41872, 0.5);
}

.title {
  position: relative;
  margin: 0.4em 0em 0em 1em;
  line-height: 1em;
  font-size: 0.8em;
  color: $white;
  font-family: 'PressStart2P';
  text-shadow: 0em 0em 0.05em $black;
}

.version {
  position: relative;
  top: -0.05em;
  left: 0.6em;
  line-height: 0.8em;
  color: $version;
  font-size: 0.8em;
  font-family: 'PressStart2P';
  text-shadow: 0em 0em 0.01em $version;
}

.logo {
  position: absolute;
  top: -0.2em;
  right: 0.75em;
  width: 1.2em;
  height: 1.2em;
}

.bevel {
  margin: auto;
  background: $bevel;
  background: linear-gradient(to bottom, $bevel 0%, $bevel 50%, $bevel2 75%, $bevel 100%);
  background-size: 0.25em 0.25em;
  border-width: 0.125em;
  border-style: solid;
  border-top-color: light1($bevel);
  border-left-color: light1($bevel);
  border-bottom-color: light1($bevel);
  border-right-color: light1($bevel);
  border-radius: 0.625em;
  box-shadow: 0.012em 0.012em 0.12em $black inset, -0.012em -0.012em 0.12em $white inset;
  width: 19em;
  font-size: 2em;
}

.screen {
  flex-direction: row;
  display: block;
  position: relative;
  height: 4em;
  padding: 0.5em;
  margin: 0.4em 1.2em 1.2em 1.2em;
  color: shadow3($screen);
  background: $screen-gradient;
  border-width: 0.3em;
  border-style: solid;
  border-color: light1($bevel);
  border-radius: 0.2em;
  box-shadow: inset 0em 0em 0.3em $shadow, 0 0 0 0.2em $bevel, 0 0 0 0.4em $bevel2;
  text-shadow: 0.125em 0.125em shadow2($screen);
  font-family: 'PressStart2P';
  overflow: hidden;
}

  #screen-mathgame-main {
    position: absolute;
    top: 1em;
    left: 0.6em;
    margin: 0em;
    line-height: 0.95em;
    font-size: 0.95em;
    white-space: nowrap;
  }

  #screen-mathgame-level,
  #screen-mathgame-mode,
  #screen-mathgame-score {
    position: absolute;
    font-size: 0.55em;
  }

  #screen-mathgame-level {
    left: 1em;
    bottom: 0em;
    margin: 0.5em;
    text-transform: uppercase;
  }

  #screen-mathgame-mode {
    text-align: center;
    left: 0em;
    right: 0em;
    bottom: 0.5em;
    margin: 0em;
  }

  #screen-mathgame-score {
    right: 1em;
    bottom: 0.5em;
    margin: 0em;
  }

.keypad {
  padding: 0.85em 0.6em 0.5em 0.6em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2em;
}

.column {
  display: flex;
  flex-direction: column;
}

.row-button {
  display: flex;
  justify-content: left;
}

.button,
.spacer {
  height: 1.9em;
  width: 3em;
  margin: 0.4em;
}

.button {
  color: $button-text;
  background: button-gradient($light);
  border-top-color: light2($light);
  border-left-color: light2($light);
  border-bottom-color: shadow1($light);
  border-right-color: shadow1($light);
  border-top-width: 0.08em;
  border-left-width: 0.08em;
  border-bottom-width: 0.16em;
  border-right-width: 0.16em;
  border-style: solid;
  font-size: 1em;
  font-family: 'PressStart2P' !important;
  outline: none;
  position: relative;
  text-transform: uppercase;
  text-shadow: 0em 0em 0.05em $black;
  box-shadow: 0.1em 0.1em 0em 0.01em $button-shadow, 0em 0em 0.2em 0.01em $button-shadow;
  &:active {
    position: relative;
    top: 0.07em;
    left: 0.07em;
    box-shadow: 0.025em 0.025em 0em 0.01em $button-shadow, 0em 0em 0.2em 0.01em $button-shadow;
  }
  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:before {
    content: "";
    margin-left: -100%;
  }
  &:after {
    content: "";
    margin-right: -100%;
  }
}

.button-bigtext {
  position: absolute;
  bottom: -0.1em;
  left: 0.3em;
  font-size: 0.9em;
}

.button-smalltext {
  position: absolute;
  font-size: 0.5em;
  top: 1.8em;
  left: 0.3em;
}

.red {
  background: button-gradient($red);
  border-top-color: light2($red);
  border-left-color: light2($red);
  border-bottom-color: shadow1($red);
  border-right-color: shadow1($red);
}

.yellow {
  background: button-gradient($yellow);
  border-top-color: light2($yellow);
  border-left-color: light2($yellow);
  border-bottom-color: shadow1($yellow);
  border-right-color: shadow1($yellow);
  text-shadow: 0em 0em 0.125em $black;
}

.dark {
  background: button-gradient($dark);
  border-top-color: light2($dark);
  border-left-color: light2($dark);
  border-bottom-color: shadow1($dark);
  border-right-color: shadow1($dark);
}

.check {
  background: button-gradient($blue);
  border-top-color: light2($blue);
  border-left-color: light2($blue);
  border-bottom-color: shadow1($blue);
  border-right-color: shadow1($blue);
  height: 4.7em;
}