@font-face {
  font-family: "PressStart2P";
  src: url("./PressStart2P.ttf?"); }

* {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  margin: 0em;
  background-size: 100vw 100vh;
  cursor: default;
  filter: blur(0.2px); }

.background {
  position: fixed;
  top: 0em;
  right: 0em;
  bottom: 0em;
  left: 0em;
  pointer-events: none; }
  .background.layer-0 {
    z-index: 0;
    background: linear-gradient(to bottom, #0c1f49 0%, #0165aa 57.9%, #261a40 58.1%, #190d33 100%); }
  .background.layer-1 {
    z-index: 1;
    background: url("../img/stars.png");
    background-attachment: fixed; }
  .background.layer-2 {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background-image: url("../img/sun.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain; }
  .background.layer-3 {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    min-width: 1920px;
    background-image: url("../img/grid.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    object-fit: contain; }

.case {
  z-index: 1000;
  width: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.725em;
  background: linear-gradient(180deg, #4979dd 0%, #f4f2f5 50%, #483b5d 50.1%, #b9bcce 100%);
  border-style: solid;
  border-top-color: #b2ae90;
  border-left-color: #b2ae90;
  border-bottom-color: white;
  border-right-color: white;
  border-width: 0.25em;
  border-radius: 2.25em;
  font-size: 8px;
  box-shadow: -0.05em 0.05em 0em 0.25em rgba(21, 159, 169, 0.5), 0.05em -0.05em 0em 0.25em rgba(212, 24, 114, 0.5); }

.title {
  position: relative;
  margin: 0.4em 0em 0em 1em;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  color: white;
  font-family: 'PressStart2P';
  text-shadow: 0em 0em 0.05em black; }

.version {
  position: relative;
  left: 0.5em;
  line-height: 1em;
  color: #6ae4ed;
  font-size: 1em;
  font-family: 'PressStart2P';
  text-shadow: 0em 0em 0.01em #6ae4ed; }

.logo {
  position: absolute;
  top: -0.2em;
  right: 0.75em;
  width: 1.2em;
  height: 1.2em; }

.bevel {
  margin: auto;
  background: #151514;
  background: linear-gradient(to bottom, #151514 0%, #151514 50%, #262625 75%, #151514 100%);
  background-size: 0.25em 0.25em;
  border-width: 0.125em;
  border-style: solid;
  border-top-color: #63635f;
  border-left-color: #63635f;
  border-bottom-color: #63635f;
  border-right-color: #63635f;
  border-radius: 0.625em;
  box-shadow: 0.012em 0.012em 0.12em black inset, -0.012em -0.012em 0.12em white inset;
  width: 19em;
  font-size: 2em; }

.screen {
  flex-direction: row;
  display: block;
  position: relative;
  height: 4em;
  padding: 0.5em;
  margin: 0.4em 1.2em 1.2em 1.2em;
  color: #0c1210;
  background: linear-gradient(0deg, #2b4038 0%, #3f5f53 90%);
  border-width: 0.3em;
  border-style: solid;
  border-color: #63635f;
  border-radius: 0.2em;
  box-shadow: inset 0em 0em 0.3em black, 0 0 0 0.2em #151514, 0 0 0 0.4em #262625;
  text-shadow: 0.125em 0.125em #293d35;
  font-family: 'PressStart2P';
  overflow: hidden; }

#screen-mathgame-main {
  position: absolute;
  top: 1em;
  left: 0.6em;
  margin: 0em;
  line-height: 1em;
  font-size: 1em;
  white-space: nowrap; }

#screen-mathgame-level,
#screen-mathgame-mode,
#screen-mathgame-score {
  position: absolute;
  font-size: 0.5em; }

#screen-mathgame-level {
  left: 1em;
  bottom: 0em;
  margin: 0.5em;
  text-transform: uppercase; }

#screen-mathgame-mode {
  text-align: center;
  left: 0em;
  right: 0em;
  bottom: 0.5em;
  margin: 0em; }

#screen-mathgame-score {
  right: 1em;
  bottom: 0.5em;
  margin: 0em; }

.keypad {
  padding: 0.85em 0.6em 0.5em 0.6em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2em; }

.column {
  display: flex;
  flex-direction: column; }

.row-button {
  display: flex;
  justify-content: left; }

.button,
.spacer {
  height: 1.9em;
  width: 3em;
  margin: 0.4em; }

.button {
  color: #fffee7;
  background: linear-gradient(180deg, #585555 0%, #585555 0.6em, #726e6e 0.7em, #585555 1.2em);
  border-top-color: #726e6e;
  border-left-color: #726e6e;
  border-bottom-color: #3e3c3c;
  border-right-color: #3e3c3c;
  border-top-width: 0.08em;
  border-left-width: 0.08em;
  border-bottom-width: 0.2em;
  border-right-width: 0.2em;
  border-style: solid;
  font-size: 1em;
  font-family: 'PressStart2P' !important;
  outline: none;
  position: relative;
  text-transform: uppercase;
  text-shadow: 0em 0em 0.05em black;
  box-shadow: 0.1em 0.1em 0em 0.01em #010101, 0em 0em 0.2em 0.01em #010101; }
  .button:active {
    position: relative;
    top: 0.07em;
    left: 0.07em;
    box-shadow: 0.025em 0.025em 0em 0.01em #010101, 0em 0em 0.2em 0.01em #010101; }
  .button:focus {
    outline: none; }
  .button::-moz-focus-inner {
    border: 0; }
  .button:before {
    content: "";
    margin-left: -100%; }
  .button:after {
    content: "";
    margin-right: -100%; }

.button-bigtext {
  position: absolute;
  bottom: 0;
  left: 0.3em;
  font-size: 1em; }

.button-smalltext {
  position: absolute;
  font-size: 0.5em;
  top: 1.8em;
  left: 0.3em; }

.red {
  background: linear-gradient(180deg, #cc2f66 0%, #cc2f66 0.6em, #d85684 0.7em, #cc2f66 1.2em);
  border-top-color: #d85684;
  border-left-color: #d85684;
  border-bottom-color: #a32551;
  border-right-color: #a32551; }

.yellow {
  background: linear-gradient(180deg, #f18342 0%, #f18342 0.6em, #f5a271 0.7em, #f18342 1.2em);
  border-top-color: #f5a271;
  border-left-color: #f5a271;
  border-bottom-color: #ed6413;
  border-right-color: #ed6413;
  text-shadow: 0em 0em 0.125em black; }

.dark {
  background: linear-gradient(180deg, #1e2121 0%, #1e2121 0.6em, #363c3c 0.7em, #1e2121 1.2em);
  border-top-color: #363c3c;
  border-left-color: #363c3c;
  border-bottom-color: #060606;
  border-right-color: #060606; }

.check {
  background: linear-gradient(180deg, #159fa9 0%, #159fa9 0.6em, #1bcad6 0.7em, #159fa9 1.2em);
  border-top-color: #1bcad6;
  border-left-color: #1bcad6;
  border-bottom-color: #0f747c;
  border-right-color: #0f747c;
  height: 4.7em; }
